*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: 300px auto 300px;
    grid-template-rows: 10vh 72vh 10vh; 
    grid-gap: 0.5em;
    min-height: 100%;
  }
  

.circle-image {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border-radius: 50%; /* Make the image circular */
    background-size: cover;
    background-position: center;
    background-color: #444; /* Fallback color */
    border: 2px solid rgba(255, 255, 255, 0.3); /* Border around the circle */
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.4);
  }  
.background-gradient {
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, 
        #2f2f2f,
        #4b2c4f,
        #6b2f99,
        #935abf,
        #b48ed6,
        #d88abf,
        #e29fc4,
        #e8c2c8,
        #d8d8d8,
        #9e8dda,
        #c698ea);
    background-size: 200% 200%;
    animation: color 11s ease-in-out infinite;
}
@keyframes color {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


@font-face {
    font-family: 'spof';
    src: url('../fonts/MazzardSoftM-Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'spof2';
    src: url('../fonts/MazzardSoftM-Light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.music-player{
    position: relative;
    top: 150px;
    width: 1200px;
    height: 600px;
    border-radius: 20px;
    padding: 30px;
    overflow: hidden;
    color: #d5eebb;
}

.song-name,
.artist-name{
    text-align: center;
    text-transform: capitalize;
}
.song-name
{
    font-size: 80px;
    font-weight: 500;
    margin-bottom: 10px;
}

.artist-name{
    font-size: 40px;
}

.disk{
    position: relative;
    display: block;
    margin: 40px auto;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-image: url("../images/images.jpg");
    background-size: cover;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3), 0 0 30px 15px rgba(0, 0, 0, 0.2);
}


.disk::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: linear-gradient(45deg, 
        #2f2f2f,
        #4b2c4f,
        #6b2f99,
        #935abf,
        #b48ed6,
        #d88abf,
        #e29fc4,
        #e8c2c8,
        #d8d8d8,
        #f5f3fc,
        #ffffff);
    background-size: 200% 200%;
    animation: color 11s ease-in-out infinite;
}
.song-slider{
    position: relative;
    width: 100%;
}
.seek-bar{
    -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background-color: #6b6c6c;
  overflow: hidden;
  cursor: pointer;
}
.seek-bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 0px;
    height: 20px;
    background-color: #000;
    box-shadow: -400px 0 0 400px #d6d9d5;
}
.current-time,.song-time{
    font-size: 25px;
    font-family: spof;
    color: white;
}
.song-time{
    position: absolute;
    right: 0;
}
.controls{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}

.play-btn{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fdfdfd ;
    cursor: pointer;
    border: none;
}
.play-btn span{
    position:absolute;
  top: 50%;
  left: 25%;
  transform: translateY(-50%);
  width: 10px;
  height: 30px;
  border-radius: 2px;
  background:#0a0a0a ;
  transition: .5s;
  clip-path: polygon(0 0,100% 0 ,100% 100%,0% 100%);
}
.play-btn :nth-child(2)
{
    left: 55%;
    transform-origin: center;
}
.play-btn.pause span:nth-child(2)
{
    transform: translateY(-50%) scaleY(0);
}
.play-btn.pause span:nth-child(1){
    width: 35%;
    left: 53%;
    transform: translate(-50%,-50%);
    border-radius: 0;
    clip-path: polygon(0 0,100% 50%,100% 50%,0% 100%);
}

.play-btn.pause{
    animation: pulse 2s linear infinite ;
}
@keyframes pulse{
    0%{
        box-shadow: 0;
    }
    50%{
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1);
    }
    100%{
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4)
    }
}
.song {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
    background-color: inherit;
    padding: 15px;
    width:80%;
    height: 100px;
    margin: 10px;
    transition: background-color 0.3s ease;
    opacity: 0.8;
    cursor: pointer;
  }

  .song:hover {
      background-color: #333;
      box-shadow: 0 6px 12px rgba(255, 255, 255, 0.2); /* Glow effect */
      transform: translateX(-10px) scale(1.01); 
  }

  .song-title {
    flex-grow: 1; /* Allow it to take remaining space */
    text-align: left;
    font-family: spof;
    font-size: 18px;
    color: white;
    margin-left: 20px; /* Space between image and title */
}
  .song-title span {
    color: #999;
    font-size: 14px;
  }
  .song-image{
    height:90px;
    width: 90px;
    border-radius: 15px;
  }
  .song i {
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s ease;
    
  }

  .song i:hover {
    color: #fff;
  
  }
  .search{
    
  }
  .symbol{
    border-radius: 50%;
    background-color: white;
    height: 26px;
    width: 26px;
    top: 10px;
    left:10px ;
    position: relative;
  }
  .symbol::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color:#282424;
  }
  .line{
    position: relative;
    height:10px;
    width: 2px;
    top: 3px;
    left: 34px;
    transform: rotate(-45deg);
    background-color: white;
  }

  input[type="text"] {
  border: none;
  background: transparent;
  color: white;
  font-size: 16px;
  margin-left: 10px; /* Space between icon and text box */
  width: 100%;  /* Makes text box take full width within the container */
  height: 30px;
  padding: 5px;
  border-radius: 20px;
  outline: none;
}

input[type="text"]:focus {
  outline: none;
}
.search:hover,.album:hover,.playlist:hover {
    background-color: #333;
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.2);
}
.search:focus-within  {
    background-color: #333;
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.2);
}
.album{
    width: 200px;
    height: 200px;
    background-color: rgba(71, 71, 71, 0.5);
    border-radius: 10px;
    position: relative;
    bottom: 40px;
    cursor: pointer;
}
.chart-container{
    margin: 0;
    padding: 0;
    height: inherit;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    font: spof2;
    position: relative;
    left: 700px;
}
.chart{
    width: 600px;
    height: 300px;
    display: block;
    position: absolute;
    
}

.numbers{
    color: #fff;
    margin:0;
    padding:0;
    width: 50px;
    height: 100%;
    display: inline-block;
    float: left;
   
}

.numbers li{
    list-style: none;
    height: 150px;
    position: relative;
    bottom:145px;
    font-family: spof2;
}
.numbers span{
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    left: 20px;
}

.bars{
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    background: #555;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 500px;
    height: 300px;
    box-shadow: 0 0 10px 0 #555;
    border-radius: 5px;
}

.bars li{
    display: table-cell;
    width: 100px;
    height: 300px;
    position: relative;
    font-family: spof2;
}
.bars span{
    width: 100%;
    position: absolute;
    bottom: -30px;
    text-align: center;
}
.bars .bar{
    display: block;
    background: #17C0EB ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 20px;
    height: 50px;
    position: absolute;
    bottom: 0;
    margin-left: 45px;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(23, 192, 235,0.5);
    transition: 0.5s;
    transition-property: background, box-shadow;
}
.bars .bar:hover{
    background: #55EFC4;
    box-shadow: 0 0 10px 0 rgba(85,239,196,0.5);
    cursor: pointer;
}
.bars .bar:before{
    color : #fff;
    content: attr(data-percentage) '%';
    position: relative;
    bottom: 20px;
}

.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.flex-container{
    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: flex-start; /* Align items to the left */
    gap: 50px; /* Space between items */
    padding-top: 20px;
}

.parent {
    display: grid;
    grid-template-columns: 0.5fr repeat(3, 1fr) 0.6fr;
    grid-template-rows: 1fr repeat(3, 2fr) 1fr; /* Proportional row heights */
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh; /* Ensures the grid fills the entire viewport */
    width: 100%; /* Optional for full width */
}

    
    .div1 { 
        grid-area: 1 / 1 / 5 / 2;
        background-color: #282424
    }
    .div2 { grid-area: 1 / 2 / 2 / 6;
        display: flex;
        flex-direction: row;
        background-color:linear-gradient(to top, 
        #000000, #474747 50%, #555454);
        border-radius: 0;
    }
    .div3 {
        grid-area: 2 / 2 / 5 / 5; /* Spans grid rows and columns */
        display: flex;
        flex-direction: column; /* Stack items vertically */
        justify-content: flex-start; /* Align items from the top */
        align-items: center;    /* Center horizontally */
        margin-top: 10px;
        gap: 30px; /* Add spacing between items */
        overflow: hidden;
        overflow-y: auto; /* Scroll if content exceeds container height */
        scrollbar-width: none; /* Hide scrollbar in Firefox */
    }
    
    .div4 { grid-area: 2 / 5 / 5 / 6;
        grid-area: 2 / 5 / 5 / 6;
        display: flex;
        flex-direction: column; /* Stack children vertically */
        align-items: center; /* Center vertically */
        gap: 20px; /* Optional: Add spacing between children */
        margin: 0; /* Remove any margins */
        padding: 0; /* Remove padding */
    }
    .div5 { grid-area: 5 / 1 / 6 / 6; 
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    button {
        background-color: transparent; /* Removes default white background */
        color: inherit; /* Inherit the text color from the parent, or set a custom color */
        border: none; /* Remove the default border */
        font-size: 16px; /* Adjust font size */
        cursor: pointer; /* Change cursor to a pointer when hovered */
    }

    .playlist {
        display: flex; /* Use Flexbox for alignment */
        align-items: center; /* Vertically center items */
        justify-content: space-between; /* Space out content */
        width: 80%; /* Ensure proper width */
        height: 100px; /* Set a consistent height */
        gap :10px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.05); /* Optional background */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Optional shadow */
    }
    
    .playlist-image {
        width: 90px; /* Consistent size */
        height: 90px;
        background-size: cover;
        background-position: center;
        border-radius: 0;
    }