*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.background-gradient {
    height: 100vh;
    width: 100%;
    background: linear-gradient(55deg, 
            #000000,
            #1a1a1a,
            #2f2f2f,
            #3a3a3a,
            #4f4f4f,
            #636363,
            #787878,
            #8e8e8e,
            #a4a4a4,
            #b9b9b9,
            #bab9bb, 
            #b0aeb1,
            #999699,
            #aeaaaf,
            #a5a1a5,
            #b990b9,
            #c598c5
        );
    background-size: 200% 200%;
    animation: color 11s ease-in-out infinite;
}
@keyframes color {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
.container-outer{
    background-color: rgba(0, 0, 0, 0.1);
    height: 98%;
    width: 98%;
    border-radius: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}
.square {
    width: 100%;
    height: 15%;
    background-color: rgb(34, 32, 32);
}
