.square {
    width: 400px;
    height: 400px;
    background-color: rgb(36, 31, 31);
    border-radius: 15px;
}

button {
    background-color: #8866ee;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="text"] {
    width: 270px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
    color: rgb(7, 4, 4);
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
}

/* Focus effect */
input[type="text"]:focus {
    border-color: #4a90e2;
}

.gradient-container {
    height: 98vh;
    width: 1240px;
    background: linear-gradient(45deg, 
        #2f2f2f,
        #4b2c4f,
        #6b2f99,
        #935abf,
        #b48ed6,
        #d88abf,
        #e29fc4,
        #e8c2c8,
        #d8d8d8,
        #f5f3fc,
        #ffffff);
    border-radius: 30px;
    background-size: 400% 400%;
    animation: color 11s ease-in-out infinite;
}

@keyframes color {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
/* CSS */
@font-face {
    font-family: 'CustomFont';
    src: url('frontend/static/fonts/DansDisneyUi-x5Aq.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Apply the font */
body {
    font-family: 'CustomFont', sans-serif;
}
