.square{
    width: 400px;
    height: 400px;
    background-color: rgb(36, 31, 31);
    position: relative;
    border-radius: 15px;
    z-index: -1;
    opacity: 0.7;
}
button {
    background-color: #704ae2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}
input[type="text"] {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    color : rgb(7, 4, 4);
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
    position: relative;
}

/* Focus effect */
input[type="text"]:focus {
    border-color: #4a90e2;
}
.image{
    position: fixed;
    height: 100vh;
    width: 900px;
    background: linear-gradient(45deg,#f5f3fc,#d6c2ea,#b48ed6,#935abf,#6b2f99,#3c1a47);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite ;
}

@keyframes color {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 0 50%;
    }
    100%{
        background-position: 0 50%;
    }    
}