<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/artistdashboard.css">
    <title>Dashboard</title>
</head>
<body style="background: #0e0d0d;">
    <div class="square" style="background-color: #282424; height: 100vh; width: 15%;">
      <div class ="side-buttons">
        <button type="submit" style="width: 200px; height: 50px; position: relative; left: 23px; font-family: spof; font-size: 20px; border-radius: 20px; top: 90px;">
          Home
        </button>
      </div>
      
      <div class ="side-buttons">
        <button type="submit" style="width: 200px; height: 50px; position: relative; left: 23px; font-family: spof; font-size: 20px; border-radius: 20px; top: 100px;">
          Stats
        </button>
      </div>
      <div class ="side-buttons">
        <button type="submit" style="width: 200px; height: 50px; position: relative; left: 23px; font-family: spof; font-size: 20px; border-radius: 20px; top: 110px;">
          Discover
        </button>
      </div>
      <div class ="side-buttons">
        <button type="submit" style="width: 200px; height: 50px; position: relative; left: 23px; font-family: spof; font-size: 20px; border-radius: 20px; top: 120px;">
          Upload
        </button>
      </div>


      
    </div>
    <div class="square" style="background-color:linear-gradient(to top, 
    #000000, #474747 50%, #555454); width: 70%;height: 100px;backdrop-filter: blur(50px); position: absolute;right: 15%;top: 0;
        -webkit-backdrop-filter: blur(50px);z-index: 3; display: flex;">
        <div class="search" style="background-color: #282424; height: 50px; width: 300px; position: absolute; right: 120px; top: 25px; border-radius: 10px;">
            <div class="symbol"></div>
            <div class="line"></div>  
            <input type="text" placeholder="Search music, artist, album..." style="position: relative;left: 35px;bottom:25px;font-family: spof2;" />

        </div>
    </div>
    <div class="square" style="overflow: hidden;overflow-y:scroll;background-color: inherit; height: 83vh; width: 75%; position: absolute; right:10%;top:0 ;display: flex;justify-content: center;align-items: center;">
        
        <div class="square" style="height: 300px; width: 80%; background-image: url(static/images/artistbackground.jpg);position: absolute; 
        top: 33%; left: 46%; transform: translate(-50%, -50%);border-radius: 15px;"> 
            <div class="circle-image" style="height: 250px; width: 250px; position: relative; left: 400px; top: 80px;background-image:url(static/images/Hozier.webp); background-size: cover;
            background-position: center;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px); ">
            </div>
        </div>
        <div class="song-title" style="right:550px; top:65px; font-size: 40px;" >
            Popular 
          </div>
        <div class="song" style="position:absolute; top: 70%; left: 45%; transform: translate(-50%, -50%);">
            <div class="song-image" style="background-image: url('static/images/images.jpg');">

            </div>
            <div class="song-title" >
              Too Sweet 
            </div>
            <i class="fas fa-play"></i> <!-- Play Icon -->
          </div>
          <div class="song" style="position:absolute; top: 85%; left: 45%; transform: translate(-50%, -50%);">
            <div class="song-image" style="background-image: url('static/images/dinner.jpg');">
                
            </div>
            <div class="song-title">
                Dinner and Diatribes
            </div>
            <i class="fas fa-play"></i> <!-- Play Icon -->
          </div>
          <div class="song" style="position:absolute; top: 100%; left: 45%; transform: translate(-50%, -50%);">
            <div class="song-image" style="background-image: url('static/images/Church.jpg');">

            </div>
            <div class="song-title">
                Take me To Church
            </div>
            <i class="fas fa-play"></i> <!-- Play Icon -->
          </div>
          <div class="song" style="position:absolute; top: 115%; left: 45%; transform: translate(-50%, -50%);">
             <div class="song-image" style="background-image: url('static/images/dinner.jpg');">

            </div>
            <div class="song-title">
              Angel of Sweet Death and Codeine Scene 
            </div>
            <i class="fas fa-play"></i> <!-- Play Icon -->
          </div>
          <div class="song-title" style="top:150px;right:550px;font-size: 40px; color: white; position: absolute; 
            top: 130%; left: 25%; transform: translate(-50%, -50%);" >
            Albums
            </div>
          <!--outer-container-horizonatal-->
          <div class="Album-container" style="height: 300px; width: 80%; position: absolute; 
            top: 155%; left: 46%; transform: translate(-50%, -50%); 
            display: flex; justify-content: space-evenly; 
            align-items: center; gap: 20px;">
            
            <div class="album"style="display:flex;align-items: center;">
                <div class="song-image" style="background-image: url('static/images/Church.jpg');height: 150px; width: 150px; align-self: center;"></div> 
            </div>
            <div class="album"></div> 
            <div class="album"></div> 
            <div class="album"></div>             
            <div class="album"></div> 

        </div>

    </div>
    <div class="square" style="background-color: #282424; height: 100vh; width: 15%; position: absolute; right: 0; top:0;"> <!--Right Div-->
      <div class="song-title" style="width: 200px; height: 50px; position: relative; left: 70px; font-family: spof; font-size: 40px; border-radius: 20px; top: 100px;" >
        Bio 
      </div>
      <p style="width: 200px; height: 50px; position: relative; left: 10px; font-family: spof; font-size: 20px; border-radius: 20px; top: 100px;">
        This is the bio section where you can add information about yourself or anything you'd like.
        Taylor Swift is the best singer of all time. Imad is the biggest swiftie EVER
    </p>
      
    </div>
    <div class="square" style="background-color: linear-gradient(to top, 
#000000, #474747 50%, #555454); height: 150px; width: 100%; position: absolute; bottom:0; backdrop-filter: blur(20px); 
-webkit-backdrop-filter: blur(10px); border-top-left-radius: 15px; border-top-right-radius: 15px; border-top: 2px solid rgb(188, 236, 232);">
    
    </div>
</body>
</html>
