<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/css/homepagestyle.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style=" background: linear-gradient(to top, 
#000000, #222222 50%, #333333);    
height: 100vh;
margin: 0;">
    <div class="square" style="background-color: #161515; height: 800px; width: 1500px; top: 150px; left: 50%; transform: translateX(-50%); border-radius: 30px; box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); position: relative; font-family: 'CustomFont', sans-serif;">
        
        <h1 style="font-family: spof; color: white; font-size: 5.5cqmax; text-align: right; position: absolute; top: 10px; left: 890px;">
            DIVE IN
        </h1>
        <div class="horizontal-line" style="top: 240px; width: 400px; left: 920px;">
        </div>
        <div class="gradient-container" style="height: 750px; width: 700px; top: 25px; left: 20px; position: absolute;">
            <img src="static/images/سُر_no_background (1).png" style="height: 300px; width: 300px; position: absolute; top: 220px; left: 180px;">
        </div>
            <div class="typebutton" role = "button" onclick="window.location.href='artistregister'" style= "left: 800px; top:300px;" >
                <div class="circle-image" style="background-image: url('static/images/artist.jpeg'); top: 40px;"></div>
                <h1 style="position: relative;font-family: spof; color: white; font-size: 2.5cqmax; top: 40px;">
                    Artist
                </h1>
            </div>
            <div class="typebutton" role = "button" onclick="window.location.href='userregister'" style="left: 1120px; top:-45px;" >
                <div class="circle-image" style="background-image: url('static/images/user.jpg'); top: 40px;"></div> 
                <h1 style="position: relative;font-family: spof; color: white; font-size: 2.5cqmax; top: 40px;">
                    User
                </h1>
            </div>
    
        
    </div>

</body>
</html>
