<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/css/homepagestyle.css">
        <title>
            Homepage
        </title>
    </head>
    <body>
        <div class="background-gradient" style="position: relative; overflow: hidden;">
            <div class="container-outer">
                <!-- First square with vertical line -->
                 
                <div class="square">
                    <h1 style="font-family: spof; color: white; font-size: 2.2cqmax; text-align: right; position: absolute; top: 20px; left: 130px;">
                        Your Library
                    </h1>
                    <div class="vertical-line" style="position: relative; left: 100px;opacity: 0.7;"></div>
                </div>
                <div class="square" style="width: 60%; backdrop-filter: blur(40px); background-color:  rgba(255, 255, 255, 0.1);">
                    <div class="horizontal-line" style="top: 80px;">

                    </div>
                    <div class="music-player" style="top: 100px;width: 100%;">
                            <h1 class="song-name" style="font-family: spof;">
                                Song name
                            </h1>
                            <p class="artist-name" style="font-family: spof;">
                                Artist
                            </p>
                            <div class="disk">

                            </div>
                    </div>
                </div>    
                <!-- Second square -->
                <div class="square" style="margin-left: auto;">
                    <!-- Content for second square -->
                </div>
            </div>
        </div>
    </body>
</html>
