<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/css/loginstyle.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background-color: #676179;">
    <div class="square" style="background-color: #161515; height: 800px; width: 1500px; top: 50px; left: 50%; transform: translateX(-50%); border-radius: 30px; box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); position: relative; font-family: 'CustomFont', sans-serif;">
        
        <h1 style="font-family: spof; color: white; font-size: 4.5cqmax; text-align: right; position: absolute; top: -40px; left: 950px;">
            Start
        </h1>
        <h2 style="font-family: spof; color: white; font-size: 4.5cqmax; text-align: right; position: absolute; top: 40px; left: 900px;">
            Listening
        </h2>
        <div class="gradient-container" style="height: 750px; width: 700px; top: 25px; left: 20px; position: absolute;">
            <img src="static/images/سُر_no_background (1).png" style="height: 300px; width: 300px; position: absolute; top: 210px; left: 180px;">
        </div>
     
        <div class="form-container" style="position: relative; left: 810px; top: 250px;">
            <form action="/login" method="POST">
               
            </form>        
        </div>
    </div>

    <script>
        function togglePassword() {
            const passwordInput = document.getElementById('password');
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);
        }
    </script>
</body>
</html>
