<!DOCTYPE html>
<html>
    <link href="static/css/style.css" rel = "stylesheet">
    <title>
        Register
    </title>

    <body style="background-color: blue;">
        <div class = 'square' style="top: 100px; left : 500px; height: 510px;">
            <button style="width: 100px; height: 50px; top: 450px;left: 153px;">
                Create Account
        </button>
        <div class="input-container">
            <input type="text" id="interactive" placeholder="First Name" style="top: 5px; left: 83px;">
            <input type="text" id="interactive" placeholder="Last Name" style="top: 20px; left: 83px;">
            <input type="text" id="interactive" placeholder="Email" style="top: 35px; left: 83px;">
            <input type="text" id="interactive" placeholder="country" style="top: 50px; left: 83px;">
            <input type="text" id="interactive" placeholder="Username" style="top: 65px; left: 83px;">
            <input type="text" id="interactive" placeholder="Password" style="top: 80px; left: 83px;">
            <input type="text" id="interactive" placeholder="Date of Birth" style="top: 95px; left: 83px;">
        </div>
        </div>
    </body>
</html>