<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/artistdashboard.css">
    <title>Dashboard</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" charset="utf-8"></script>
</head>
<body style="background: #0e0d0d;">
    <audio src = "" id = "audio"></audio>
    <!--left bar-->
    <div class="square" style="background-color: #282424; height: 100vh; width: 15%;">
        <div class ="side-buttons">
          <button type="submit" style="width: 200px; height: 50px; position: relative; left: 23px; font-family: spof; font-size: 20px; border-radius: 20px; top: 90px;"onclick="location.href='/artistdashboard'">
            Home
          </button>
        </div>
        <div class ="side-buttons">
          <button type="submit" style="width: 200px; height: 50px; position: relative; left: 23px; font-family: spof; font-size: 20px; border-radius: 20px; top: 100px;">
            Stats
          </button>
        </div>
        <!--button 3-->
        <div class ="side-buttons">
          <button type="submit" style="width: 200px; height: 50px; position: relative; left: 23px; font-family: spof; font-size: 20px; border-radius: 20px; top: 110px;" onclick="location.href='/artistdashboard'">
            Discover
          </button>
        </div>
        <!--button 4-->
        <div class ="side-buttons">
          <button type="submit" style="width: 200px; height: 50px; position: relative; left: 23px; font-family: spof; font-size: 20px; border-radius: 20px; top: 120px;">
            Upload
          </button>
        </div>      
    </div>
     <!--top bar-->
    <div class="square" style="background-color:linear-gradient(to top, 
        #000000, #474747 50%, #555454); width: 70%;height: 100px;backdrop-filter: blur(50px); position: absolute;right: 15%;top: 0;
        -webkit-backdrop-filter: blur(50px);z-index: 3; display: flex;">
        <div class="search" style="background-color: #282424; height: 50px; width: 300px; position: absolute; right: 120px; top: 25px; border-radius: 10px;">
            <div class="symbol"></div>
            <div class="line"></div>  
            <input type="text" placeholder="Search music, artist, album..." style="position: relative;left: 35px;bottom:25px;font-family: spof2;" />
        </div>
    </div>
    <!--main board-->
    <div class="square" style="overflow: hidden; background-color: inherit; height: 83vh; width: 75%; position: absolute; right: 10%; top: 0; display: flex; flex-direction: column; justify-content: flex-start; align-items: center; gap: 30px; padding-top: 40px;overflow: hidden;overflow-y: scroll;">
        
        
        </div>
    </div>

    <!--right bar-->
    <div class="square" style="background-color: #282424; height: 100vh; width: 15%; position: absolute; right: 0; top: 0; display: flex; flex-direction: column; justify-content: flex-start; align-items: center;">
      
</div>
  <!--music player-->
  <div class="square" style="background-color: linear-gradient(to top,#000000, #474747 50%, #555454); height: 150px; width: 100%; position: absolute; bottom:0; backdrop-filter: blur(20px); 
    -webkit-backdrop-filter: blur(10px); border-top-left-radius: 15px; border-top-right-radius: 15px; border-top: 1px solid rgb(203, 222, 221);">
    <div class="song-slider" style="position: absolute; top: 22%; left: 50%; transform: translate(-50%, -50%); width: 60%; max-width: 300px;">
        <input type="range" value="0" class="seek-bar" style="width: 100%;">
        <span class="current-time">00:00</span>
        <span class="song-time">00:00</span>
    </div>
    
</div>

</body>
</html>
