<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/css/homepagestyle.css">
        <title>
            Homepage
        </title>
    </head>
    <body>
        <div class="background-gradient" style="display: grid; grid-template-columns: 10fr 20fr 10fr;gap: 0px;">
            <div class="square" style="border-top-right-radius: 25px; border-bottom-right-radius: 25px;">
            </div>
            <div class="music-container" style="height: 100%; width: 100%; background-color: rgba(255, 255, 255, 0.1);">
                <div class="horizontal-line" style="top: 80px;opacity: 0.4;"></div>
                <div class="music-player">
                    <h1 class = "song-name" style="font-family: spof;align-self: center;">
                        Too Sweet
                    </h1>
                    <p class = "artist-name" style="font-family: spof;align-self: center;">
                        Hozier
                    </p>
                    <div class="disk"></div>
                    <div class="song-slider">
                        <input type = "range" value = "0" class = "seek-bar">
                        <span class="current-time">00:00</span>
                        <span class="song-time">00:00</span>
                    </div>
                    <div class="controls">
                        <!-- <button class="btn backward-btn"><img src=""></button> -->
                        <button class="play-btn pause">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="square" style="margin-left: auto;border-top-left-radius: 25px; border-bottom-left-radius: 25px;">
            </div>
        </div>
    </body>
</html>
