<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/css/userdashboard.css">
        <title>
            Dashboard
        </title>
    </head>
    <body style="background:  #111111;">
        <div class="outer-container" style="top: 80px;">
            <div class="square" style="width: 420px;">

            </div>
            <div class="square" style="width: 1000px; background: linear-gradient(to top,#000000, #222222 50%, #b96a86);
            margin: 0;">

            </div>
            <div class="square" style="width: 420px;" >

            </div>
        </div>
    </body>
</html>
